.about {

	margin-top: $navbar-height;
	text-align: center;
	marging: auto;


	.colored-block { 
		width: 100%; 
		padding: 30px 0px;
		color:#fff; 
	}

	.purple{ 
		background:purple; 
	}
s
	.green{ 
		background:green; 
	}

	.blue{ 
		background:blue; 
	}

	.center {
	    margin: auto;
	    width: 50%;
	    padding: 10px;
	}


	.social {
		 ul {
			overflow: auto;
		}

		 ul li {
			list-style-type: none;
			float: left;
		}

		ul li a i {
			background: #205D7A;
			color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			font-size: 25px;
			text-align: center;
			margin-right: 10px;
			padding-top: 15%;
		}
	}
}

