.about {

	margin-top: $navbar-height;
	text-align: center;
	margin: auto;


	.colored-block {
		width: 100%;
		padding: 30px 0px;
		color:#fff;
	}

	.purple{
		background:purple;
	}

	.green{
		background:green;
	}

	.blue{
		background:blue;
	}


}
