<section class="about">
    <div class="colored-block purple">
          <div class="container">
          		<div class="row">
				        <div class="col-sm-12">
                            <h2>We are Happy Bots</h2>
                            <h4>We develop bots for fun and for companies. We love artificial intelligence and disruptive technologies.</h4>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <ng-include src="'views/shared/socialbuttons.html'"></ng-include>
                        </div>
          		</div> <!-- /row -->

              <div class="row">
                <br>
                <div class="col-sm-5 col-sm-offset-1 vcenter">
                    <p>We build bots with love, contact us if you need a bot for your company :)</p>
                    <a class="btn btn-lg btn-default cursor-link" onclick="showDoorbellModal()"><i class="fa fa-envelope-o fa" aria-hidden="true"></i> Contact us</a>
                </div>
                <div class="col-sm-5 center-col vcenter">
                    <p>Can't wait for {{newBotName}} to be a full grown up bot? Susbcribe to happybots and we will let you know asap!</p>

                    <ng-include src="'views/shared/newsletter.html'"></ng-include>

                 </div>  <!-- /column-->
            </div> <!-- /row -- >
          </div> <!-- /container -->
    </div> <!-- /purple-->

</div>

    <div class="colored-block blue">


        <div class="container">

            <div class="row">

                <div class="col-sm-5 col-sm-offset-1">
                    <div class="profile">
                        <img src="images/sandoche.jpeg" alt="Sandoche Picture" class="img-circle img-responsive" />
                        <div class="name">
                            Sandoche <span class="lastname">Adittane</span>
                        </div>
                        <div class="contact">
                            <a href="https://www.linkedin.com/in/sandoche" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="http://www.sandoche.com" target="_blank"><i class="fa fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 center-col">
                    <div class="profile">
                        <img src="images/patricia.jpeg" alt="Patricia Picture" class="img-circle img-responsive" />
                        <div class="name">
                            Patricia <span class="lastname">Mayo Tejedor</span>
                        </div>
                        <div class="contact">
                            <a href="https://www.linkedin.com/in/patriciamayotejedor" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
