<section class="about">
    <div class="colored-block white">
          <div class="container">
          		<div class="row">
                        <img src="images/hbIcoXS.png" alt="Happy Bots icon" class="img-responsive about_logo" />
                       
				        <div class="col-sm-12 text-block">
                            <h2>Bip Bip... We are HAPPYBOTS</h2> <br>
                            <p>We develop bots for fun and for companies. <br> 
                             We love artificial intelligence and disruptive technologies.</p>
                        </div>
          		</div> <!-- /row -->
          </div> <!-- /container -->
    </div> <!-- /white-->

    <div class="colored-block grey">
          <div class="container">
                <div class="row">                                   
                        <div class="col-sm-12">
                            <div class="text-block"> 
                                <h2>Need a Bot?</h2> <br>
                                <p class="text">We build bots with <i class="fa fa-heart love" aria-hidden="true"></i><br><a class="cursor-link" onclick="showDoorbellModal()">Contact us</a> if you need a bot for your company :)</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <ng-include src="'views/shared/newsletter.html'"></ng-include>
                        </div>                  
                </div> <!-- /row -->
          </div> <!-- /container -->
    </div> <!-- /white-->

    <div class="colored-block white">
        <div class="container">
           <div class="row">
                <div class="col-sm-12 text-block">
                            <h2>Get to know us</h2> <br>
                            <p>Visit our profiles to know a little bit more about us</p>
                        </div>

                <div class="col-sm-5 col-sm-offset-1">
                    <div class="profile">
                        <img src="images/sandoche.jpeg" alt="Sandoche Picture" class="img-circle img-responsive" />
                        <h4>
                            Sandoche <strong>Adittane</strong>
                        </h4>
                        <div class="contact">
                            <a href="https://www.linkedin.com/in/sandoche" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="http://www.sandoche.com" target="_blank"><i class="fa fa-globe"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 center-col">
                    <div class="profile">
                        <img src="images/patricia.jpeg" alt="Patricia Picture" class="img-circle img-responsive" />
                        <h4>
                            Patricia <strong>Mayo Tejedor</strong>
                        </h4>
                        <div class="contact">
                            <a href="https://www.linkedin.com/in/patriciamayotejedor" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="colored-block grey">
          <div class="container">
                <div class="row">                                   
                        <div class="col-sm-6 col-sm-offset-3">
                            <ng-include src="'views/shared/socialbuttons.html'"></ng-include>
                        </div>                  
                </div> <!-- /row -->
          </div> <!-- /container -->
    </div> <!-- /white-->
</section>
