<section class="wip center">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 vcenter">
        <img src="images/wip.png" class="img-responsive moving-animation" alt="" />
      </div>
      <div class="col-sm-5 center-col vcenter">
        <h2>Oh my god!<br><strong> {{ newBotName }}</strong> is hatching from the egg!</h2>
        <h3>{{ newBotName }} will grow up to be the best {{ feature }} bot</h3>

        <br>
        <br>

        <!-- Begin MailChimp Signup Form -->
        <p>We build bots with love, contact us if you need a bot for your company :)</p>


        <p>Can't wait for {{newBotName}} to be a full grown up bot? Susbcribe to happybots and we will let you know asap!</p>

        <ng-include src="'views/shared/newsletter.html'"></ng-include>
        <ng-include src="'views/shared/socialbuttons.html'"></ng-include>

    </div>
  </div>
</section>
