<section class="wip center" style="background: url(images/wipBg2.png) no-repeat center fixed; background-size: cover;"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 vcenter">
        <img src="images/wip.png" class="img-responsive moving-animation" alt="" />
      </div>
      <div class="col-sm-5 center-col vcenter">
        <h3>Oh my god! {{ newBotName }} is hatching! It will grow up to be the best {{ feature }} bot!</h3>

        <div class="text-block">
          <p class="text">We build bots with <i class="fa fa-heart love" aria-hidden="true"></i><br><a class="cursor-link" onclick="showDoorbellModal()">Contact us</a> if you need a bot for your company :)</p>
        </div>


        <ng-include src="'views/shared/newsletter.html'"></ng-include>
        <ng-include src="'views/shared/socialbuttons.html'"></ng-include>

    </div>
  </div>
</section>
<bot-bar></bot-bar>
